<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootbAll</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body style="background-image: url('{% static 'core/images/grass-2616911_1920-1024x683.jpg' %}'); background-repeat: no-repeat ;background-size: cover; width : 100%; height:100%;">
    
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" id="main-navbar">
            <a class="navbar-brand" href="/">
                <img src="{% static 'core/images/logos/logoTFG.png' %}" width="50" height="auto" alt="Logo" loading="lazy">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/players_list">Jugadores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clubs_list">Clubes</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/favoritos">Favoritos</a>
                    </li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                    <span class="navbar-text mr-4" style="color: #54BFAF;">
                        Bienvenido, {{ user.username }}
                    </span>
                    <form class="form-inline my-2 my-lg-0" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-login btn-block">Cerrar sesión</button>
                    </form>
                {% else %}
                    <form class="form-inline my-2 my-lg-0" style="margin-right: 5px;">
                        <button type="button" class="btn btn-login btn-block" data-toggle="modal" data-target="#loginModal">Iniciar sesión</button>
                    </form>
                    <form class="form-inline my-2 my-lg-0">
                    <button type="button" class="btn btn-login btn-block" data-toggle="modal" data-target="#registerModal">Registrarse</button>
                    </form>
                {% endif %}
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Modal de inicio de sesión -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Iniciar sesión</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario de inicio de sesión -->
                    <form id="loginForm" method="post" action="{% url 'login_ajax' %}">
                        {% csrf_token %}
                        <input type="text" name="username" placeholder="Nombre de usuario">
                        <input type="password" name="password" placeholder="Contraseña">
                        <button id="loginButton" type="submit" class="btn btn-login">Iniciar sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de registro -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Registrarse</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario de registro -->
                    <form id="registerForm" method="post" action="{% url 'register_ajax' %}">
                        {% csrf_token %}
                        <input type="text" name="username" placeholder="Nombre de usuario">
                        <input type="password" name="password1" placeholder="Contraseña">
                        <input type="password" name="password2" placeholder="Confirmar contraseña">
                        <button id="registerButton" type="submit" class="btn btn-login">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var loginForm = document.querySelector("#loginModal form");
        var registerForm = document.querySelector("#registerModal form");

        // Manejar formulario de inicio de sesión
        loginForm.addEventListener("submit", function(event) {
            event.preventDefault(); // Evita enviar el formulario automáticamente

            var formData = new FormData(loginForm);
            enviarFormulario(formData, "{% url 'login_ajax' %}");
        });

        // Manejar formulario de registro
        registerForm.addEventListener("submit", function(event) {
            event.preventDefault(); // Evita enviar el formulario automáticamente

            var formData = new FormData(registerForm);
            enviarFormulario(formData, "{% url 'register_ajax' %}");
        });

        // Función para enviar formulario y manejar la respuesta
        function enviarFormulario(formData, url) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", url);
            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            xhr.onload = function() {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        // Si el registro o inicio de sesión es exitoso, redirigir a la página indicada
                        window.location.href = response.redirect_url || '/';
                    } else {
                        alert("Error: " + response.error_message);
                    }
                } else {
                    alert("Error al procesar la solicitud. Código de estado: " + xhr.status);
                }
            };
            xhr.onerror = function() {
                alert("Error de conexión.");
            };
            xhr.send(formData);
        }
    });
</script>

