{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #FFF; /* Fondo blanco para mayor legibilidad */
    }
    .table thead th {
        background-color: #02483E;
        color: #54BFAF;
    }
    .table tbody tr {
        background-color: #E0FFF0;
        color: #02483E;
    }
    .pregunta {
        background-color: #E0FFF0;
        color: #02483E;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 20px;
    }
    .btn-primary {
        background-color: #02483E;
        border-color: #02483E;
        color: #54BFAF;
    }
    .btn-primary:hover {
        background-color: #023A2F;
        border-color: #023A2F;
    }
    .input-group .form-control {
        border: 1px solid #02483E;
    }
    .input-group .form-control:focus {
        border-color: #54BFAF;
        box-shadow: none;
    }
    .descripcion-container {
        background-color: #E0FFF0;
        color: #02483E;
        padding: 20px;
        border-radius: 10px;
        max-width: 800px;
        margin: 20px auto; /* Centrar horizontalmente y añadir margen superior e inferior */
        text-align: center; /* Centrar texto */
    }
    .minijuego-container {
        background-color: #E0FFF0;
        color: #02483E;
        padding: 20px;
        border-radius: 10px;
        max-width: 800px;
        margin: 20px auto; /* Centrar horizontalmente y añadir margen superior e inferior */
        
    }
    .minijuego-container .pregunta h3 {
        margin-top: 0; /* Eliminar margen superior de los títulos de pregunta */
    }
    .tabla-container {
        margin-top: 20px; /* Añadir margen superior para separar de la navbar */
    }
    .alert-info {
        background-color: #E0FFF0;
        color: #02483E;
        padding: 20px;
        border-radius: 10px;
        max-width: 800px;
        margin: 20px auto; /* Centrar horizontalmente y añadir margen superior e inferior */
        text-align: center; /* Centrar texto */
    }
</style>
<script>
    // Array que contiene las URLs de las imágenes de fondo
    var backgrounds = [
        "{% static 'core/images/fondos/fondo1.jpg' %}",
        "{% static 'core/images/fondos/fondo2.jpg' %}",
        "{% static 'core/images/fondos/fondo3.jpg' %}",
        "{% static 'core/images/fondos/fondo4.jpg' %}",
        "{% static 'core/images/fondos/fondo5.png' %}",
    ];

    // Función para seleccionar aleatoriamente una imagen de fondo
    function cambiarFondo() {
        var randomIndex = Math.floor(Math.random() * backgrounds.length);
        var selectedBackground = backgrounds[randomIndex];
        document.body.style.backgroundImage = "url('" + selectedBackground + "')";
    }

    // Llamar a la función para cambiar el fondo al cargar la página
    window.onload = cambiarFondo();

    // Función para manejar el clic en la fila de jugadores
    function handlePlayerRowClick(playerId) {
        var page_number = 1;  // Siempre será 1 en esta vista
        var url = "{% url 'player_detail' jugador_id=0 page_number=1 %}".replace("0", playerId);
        window.location.href = url;
    }

    // Función para manejar el clic en la fila de clubes
    function handleClubRowClick(clubId) {
        var page_number = 1;  // Siempre será 1 en esta vista
        var url = "{% url 'club_detail' club_id=0 page_number=1 %}".replace("0", clubId);
        window.location.href = url;
    }

    // Función para comprobar la respuesta de una pregunta
    function comprobarRespuesta(preguntaNumero) {
        var preguntaId = '#pregunta-' + preguntaNumero;
        var respuestaInput = $(preguntaId + ' input[name="respuesta_' + preguntaNumero + '"]');
        var respuesta = respuestaInput.val();
        var pregunta = $(preguntaId + ' h3').text();

        // Enviar la pregunta y la respuesta del usuario al servidor usando AJAX
        $.ajax({
            url: '{% url "comprobar_respuesta" %}',
            type: 'POST',
            data: {
                pregunta: pregunta,
                respuesta: respuesta,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                // Mostrar el resultado recibido del servidor
                $('#resultado-' + preguntaNumero).text(data.resultado);
                if (data.resultado === 'Correcto') {
                    // Ocultar la pregunta actual
                    $(preguntaId).hide();
                    // Mostrar la siguiente pregunta
                    var siguientePreguntaNumero = preguntaNumero + 1;
                    var siguientePreguntaId = '#pregunta-' + siguientePreguntaNumero;
                    $(siguientePreguntaId).show();
                }
            },
            error: function(xhr, errmsg, err) {
                console.error('Error:', errmsg);
            }
        });
    }

    function mostrarMinijuego() {
        // Ocultar la descripción del juego y el botón de iniciar partida
        document.getElementById("descripcion-iniciar").style.display = "none";
        
        // Mostrar el minijuego centrado horizontalmente
        var minijuegoContainer = document.getElementById("minijuego-container");
        minijuegoContainer.style.display = "block";
    }
</script>
<div class="container">
    <div class="row tabla-container">
        <div class="col-md-6">
            <table class="table table-bordered table-striped bg-dark text-center">
                <thead>
                    <tr style="background-color: #02483E; color: #54BFAF;">
                        <th>5 mejores jugadores</th>
                    </tr>
                </thead>
                <tbody>
                    {% for jugador in jugadores_mas_valiosos %}
                        <tr style="background-color: #E0FFF0; color: #02483E;" onclick="handlePlayerRowClick({{ jugador.pk }})">
                            <td>{{ jugador.nombre }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="col-md-6">
            <table class="table table-bordered table-striped bg-dark text-center">
                <thead>
                    <tr style="background-color: #02483E; color: #54BFAF;">
                        <th>5 mejores clubes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for club in mejores_clubes %}
                        <tr style="background-color: #E0FFF0; color: #02483E;" onclick="handleClubRowClick({{ club.pk }})">
                            <td>{{ club.nombre }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if not user.is_authenticated %}
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">¡Bienvenido a FootbAII!</h4>
            <p>Para jugar al minijuego de preguntas y respuestas, además de más funcionalidades, por favor inicia sesión o regístrate.</p>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <!-- Contenedor de descripción e inicio de partida -->
        {% if mostrar_descripcion_iniciar %}
            <div id="descripcion-iniciar" class="descripcion-container">
                <h2>Minijuego de preguntas y respuestas</h2>
                <p>Prueba tu conocimiento sobre el fútbol en este minijuego de 8 preguntas sobre futbolistas que hayan estado o estén en los clubes según
                    su nacionalidad.</p>
                <h3>¿Estás preparado?</h3>
                <form method="post" action="{% url 'iniciar_partida' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success" name="iniciar_partida" onclick="mostrarMinijuego()">Iniciar Partida</button>
                </form>
            </div>
        {% endif %}

        {% if not mostrar_descripcion_iniciar or not juego_usuario.partida_completada == today %}
        <!-- Minijuego de preguntas y respuestas -->
        <div id="pregunta-container">
            {% if pregunta_actual %}
            <div class="pregunta" style="background-color: #E0FFF0; color: #02483E; padding: 20px; border-radius: 10px; text-align: center;">
                <h2>Minijuego de Preguntas y Respuestas</h2>
            {% if not mensaje_finalizacion %}
                <h3>{{ pregunta_actual }}</h3>  <!-- Muestra la pregunta actual -->

                <form method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control  mb-3" list="jugadores_juego" placeholder="Jugador" name="respuesta">
                        <datalist id="jugadores_juego">
                            {% for jug in jugadores_juego %}
                                <option value="{{ jug }}">{{ jug }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar respuesta</button> <!-- Envía el formulario -->
                </form>
                {% if mensaje_error %}
                <p style="color: red;">{{ mensaje_error }}</p>
                {% endif %}
            </div>
            {% endif %}
            {% endif %}

            {% if mensaje_finalizacion or juego_usuario.partida_completada == today %}
            <div class="pregunta" style="background-color: #E0FFF0; color: #02483E; padding: 20px; border-radius: 10px; text-align: center;">
                <p>{{ mensaje_finalizacion }}</p>
            </div>
            {% endif %}
            </div>
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}