{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 style="color: #02483E;">Listado de Jugadores</h1>

    <!-- Formulario de búsqueda -->
    <form class="form-inline mt-3 mb-3" method="GET" action="{% url 'players_list' %}" id="filterForm">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <input type="text" class="form-control mb-3" list="nacionalidades" placeholder="Nacionalidad" name="nacionalidad" value="{{ request.GET.nacionalidad }}">
                    <datalist id="nacionalidades">
                        <!-- Aquí puedes incluir las opciones de nacionalidades -->
                        {% for nacionalidad in nacionalidades %}
                            <option value="{{ nacionalidad }}">{{ nacionalidad }}</option>
                        {% endfor %}
                    </datalist>
                </div>
            </div>

            <div class="col-md-3">
                <select class="form-control mb-3" name="posicion">
                    <option value="" {% if not request.GET.posicion %}selected{% endif %}>Cualquier posición</option>
                    <option value="Defensa" {% if request.GET.posicion == "Defensa" %}selected{% endif %}>Defensa</option>
                    <option value="Centrocampista" {% if request.GET.posicion == "Centrocampista" %}selected{% endif %}>Centrocampista</option>
                    <option value="Ataque" {% if request.GET.posicion == "Ataque" %}selected{% endif %}>Ataque</option>
                    <option value="Portero" {% if request.GET.posicion == "Portero" %}selected{% endif %}>Portero</option>
                </select>
            </div>

            <div class="col-md-3">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscar por nombre" name="q" value="{{ request.GET.q }}">
                </div>
            </div>
            <div class="col-md-3">
                <button class="btn btn-extremos" type="submit">Buscar</button>
                {% if request.GET.q or request.GET.nacionalidad or request.GET.posicion %}
                <a href="{% url 'players_list' %}" class="btn btn-danger">Borrar</a>
                {% endif %}
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <div style="overflow-x: auto;">
            <table class="table table-bordered table-striped bg-dark">
                <thead>
                    <tr style="background-color: #02483E; color: #54BFAF;">
                        <th>Nombre</th>
                        <th>Club</th>
                        <th>Posición</th>
                        <th>Nacionalidad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for jugador in page_obj %}
                        <tr style="background-color: #E0FFF0; color: #02483E;" id="fila-{{ jugador.pk }}" class="fila-cliclable">
                            <td>{{ jugador.nombre }}</td>
                            <td>{{ jugador.club }}</td>
                            <td>{{ jugador.posicion }}</td>
                            <td>{{ jugador.nacionalidad }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if page_obj.has_previous %}
        <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.nacionalidad %}&nacionalidad={{ request.GET.nacionalidad }}{% endif %}{% if posicion_seleccionada %}&posicion={{ posicion_seleccionada }}{% endif %}" class="btn btn-extremos">Primera página</a>
        <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.nacionalidad %}&nacionalidad={{ request.GET.nacionalidad }}{% endif %}{% if posicion_seleccionada %}&posicion={{ posicion_seleccionada }}{% endif %}" class="btn btn-individual">Anterior</a>
    {% endif %}

    <span class="mx-2" style="color: #FFFFFF; background-color: #02483E; padding: 5px 10px; border-radius: 5px;">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.nacionalidad %}&nacionalidad={{ request.GET.nacionalidad }}{% endif %}{% if posicion_seleccionada %}&posicion={{ posicion_seleccionada }}{% endif %}" class="btn btn-individual">Siguiente</a>
        <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.nacionalidad %}&nacionalidad={{ request.GET.nacionalidad }}{% endif %}{% if posicion_seleccionada %}&posicion={{ posicion_seleccionada }}{% endif %}" class="btn btn-extremos">Última página</a>
    {% endif %}
</div>

<style>
    .fila-cliclable:hover {
        cursor: pointer;
        background-color: #02483E; /* Cambio de color al pasar el ratón por encima */
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var filas = document.querySelectorAll(".fila-cliclable");
        filas.forEach(function(fila) {
            fila.addEventListener("click", function() {
                var jugadorId = this.id.split("-")[1];  // Obtener el player_id correctamente
                var page_number = "{{ page_obj.number }}";  // Obtener el número de página desde el contexto de la plantilla
                var url = "{% url 'player_detail' jugador_id=0 page_number=9999999999999999999999999 %}".replace("0", jugadorId).replace("9999999999999999999999999",page_number);
                window.location.href = url;
            });
        });
    });
</script>

{% endblock %}
